h1{
  text-align: center;
  color: #FFFFFF;
}
header{
  background: #CBC8D3;
  margin-bottom: 15px;
  font-size: 150%;
  font-variant:small-caps;
}
nav{
  color:#19181D;
  background:#BEBAC8;
  display: inline-block;
  margin-right: auto;
}

.left{
  display: none;
}
.right{
  background: #A1A1A5;
}
h2{
  color: #384361;
  font-size: 300%;
}
p{
  font-size: 160%;

}
a{
  background: #CBC8D3;
  width:auto;
  height: auto;

}
li{
  font-size: 160%;
}
